<div layout="row" layout-align="center center" flex="100">
  <div>No improvement&nbsp;&nbsp;</div>
  <div class="flex layout-column">
    {{paper-slider
      flex=flex
      warn=warn
      discrete=discrete
      value=value
      step=step
      min=min
      max=max
      primary=primary
      disabled=disabled}}
  </div>
  <div>&nbsp;&nbsp;No need to improve further</div>
</div>
