<span class="rating_goal-prompt">
  {{model.competency.name}} : {{model.name}}
</span>

<div class="rating_goal-rating-container">
  {{rating-response-goal-rating engagement=engagement value=ratingValue review=ratingReview}}
</div>

{{yield}}
