{{textarea value=value placeholder='enter your narrative feedback'}}

<span class="rating_goal-rating-subtitle">
	Please provide narrative feedback on how {{engagement.coachee.name}} is progressing toward this goal.
</span>

{{yield}}
